.gamb {
  display: none;
}
.reg,
.menu {
  display: block;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: relative;
  width: 14.4047619%;
  height: 19px;
  padding: 0;
  margin: 0 0 0 4.16666667%;
}
.reg p,
.menu p {
  display: inline-block;
  position: relative;
  width: auto;
  margin: 0;
  color: #373c6d;
}
.reg p:last-child,
.menu p:last-child {
  margin: 0 auto 0 13.8%;
}
.menu {
  width: 32.14285714%;
  margin: 0 0 0 auto;
  padding: 0;
}
.menu p {
  margin: 0 2.97619048% 0 0;
}
.menu > p:last-child {
  display: inline-block;
  margin: 0;
}
.img {
  width: 116px;
  height: 30px;
  margin: 0 4.16666667% 0 1.78571429%;
  border: none;
}
.install {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  margin: 0;
  padding: 3.8% 0 5.6% 0;
}
.install h3,
.install p,
.install div {
  display: inline-block;
  position: relative;
  margin: 0 42.26190476% 0 19.64285714%;
}
.install p {
  margin: 3.2% 33.33333333% 0 19.64285714%;
}
.install div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 0;
  margin: 4.9% 0 0 0;
}
.install div button {
  display: inline-block;
  width: 18.75%;
  height: 48px;
  margin: 0;
  border: none;
  line-height: 3rem;
  border-radius: 24px;
  padding: 0;
  margin: 0 1.48809524% 0 19.64285714%;
  outline: none;
  background: #2cd3b8;
}
.install div button:last-child {
  margin: 0 42.26190476% 0 auto;
  background: transparent;
  border: solid 1px #393e6b;
}
@media (max-width: 750px) {
  .header {
    padding: 0;
  }
  .header .gamb {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: absolute;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 43px;
    height: 45px;
    margin: 52.5px 0 0 60px;
  }
  .header .gamb span {
    width: 100%;
    height: 5px;
    background: #3fd6bc;
  }
  .header .reg {
    display: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    position: absolute;
    width: 30%;
    height: 100px;
    margin: 0;
    background: #fff;
    top: 200px;
  }
  .header .reg p {
    margin: 0;
    height: 59.5px;
    font-size: 110%;
    padding: 10px 0 0 10px;
  }
  .header .reg p:first-child {
    border-bottom: solid 1px grey;
  }
  .header .menu {
    display: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    position: absolute;
    width: 30%;
    height: 200px;
    margin: 0;
    background: #fff;
    left: 0;
  }
  .header .menu p {
    height: 50px;
    padding: 10px 0 0 10px;
    font-size: 110%;
    border-bottom: solid 1px grey;
    margin: 0;
  }
  .header .img {
    width: 229px;
    height: 57px;
    margin: auto;
  }
  .install h3,
  .install p {
    margin: 90px 0 0 9.06666667%;
  }
  .install p {
    width: 75%;
    margin-top: 70px;
    margin-bottom: 94px;
    line-height: 40px;
  }
  .install .price {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    height: 212px;
    margin-bottom: 77px;
  }
  .install .price button,
  .install .price button:last-child {
    width: 624px;
    height: 90px;
    margin: 0 0 0 9.06666667%;
    border-radius: 45px;
  }
}
@media (min-width: 751px) {
  .install p br {
    display: none;
  }
}
