.easyInst {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  padding: 6.2% 0 5.8% 0;
  margin: 0;
}
.easyInst h3,
.easyInst p,
.easyInst div {
  display: inline-block;
}
.easyInst h3 {
  margin: 0 0 0 19.3452381%;
}
.easyInst p {
  margin: 2.1% 0 0 19.3452381%;
}
.easyInst > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: relative;
  width: 100%;
  margin: 6% 0 0 0;
}
.easyInst > div .inst-reg,
.easyInst > div .inst-HTML {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  height: 148px;
  padding: 0;
  margin: 0 0 0 16.96428571%;
}
.easyInst > div .inst-reg > div,
.easyInst > div .inst-HTML > div {
  display: block;
  width: 51px;
  height: 51px;
  background: url(../img/sprite.svg) no-repeat;
  background-position: -4px -4px;
  border: none;
}
.easyInst > div .inst-reg p,
.easyInst > div .inst-HTML p,
.easyInst > div .inst-reg span,
.easyInst > div .inst-HTML span {
  font-family: 'Ubuntu', sans-serif;
  font-size: 50%;
  line-height: 24px;
  letter-spacing: 0.45px;
  color: #00af99;
}
.easyInst > div .inst-reg span,
.easyInst > div .inst-HTML span {
  display: inline-block;
  position: absolute;
  color: #74757b;
  font-size: 416.66666667%;
  font-weight: 700;
  line-height: 24px;
  margin: 0;
  top: 43px;
  left: -10px;
  opacity: 0.3;
  z-index: -111;
}
.easyInst > div .inst-HTML {
  margin: 0 0 0 5.95238095%;
  width: 250px;
}
.easyInst > div .inst-HTML > div {
  display: block;
  width: 51px;
  height: 54px;
  background: url(../img/sprite.svg) no-repeat;
  background-position: -58px -3px;
  border: none;
  margin: 45px 0 0 35px;
  z-index: 111;
}
.easyInst > div .inst-HTML p {
  display: inline-block;
  padding: 0 0 0 35px;
  margin: 25px 0 0 0;
}
.easyInst > div .inst-reg span:last-child {
  margin-left: -5px;
}
.easyInst > div .inst-reg div {
  margin: 40px 0 0 35px;
}
.easyInst > div .inst-reg p {
  display: inline-block;
  padding: 0 0 0 35px;
  margin: 32px 0 0 0;
}
.installHTML {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  padding: 6.7% 0 6.1% 0;
}
.installHTML h3 {
  margin: 0 0 5.6% 19.64285714%;
}
.installHTML div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  width: 100%;
  margin: 2.6% 0 0 0;
}
.installHTML div span {
  display: inline-block;
  position: absolute;
  width: 0.47619048%;
  padding-top: 0.65%;
  background: #3b4269;
  border-radius: 100%;
  margin: 1% 0 0 19.64285714%;
  float: left;
}
.installHTML div h5,
.installHTML div p {
  margin: 0 0 0 21.72619048%;
}
.installHTML > div:nth-child(2) {
  margin: 0;
}
.installApp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  padding: 6.2% 0 5.8% 0;
}
.installApp h3,
.installApp p {
  margin: 0 0 0 19.64285714%;
}
.installApp p {
  margin: 2.2% 0 0 19.64285714%;
}
.installApp div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  width: 100%;
  margin: 2.6% 0 0 0;
}
.installApp div span {
  display: inline-block;
  position: absolute;
  width: 0.47619048%;
  padding-top: 0.65%;
  background: #3b4269;
  border-radius: 100%;
  margin: 1% 0 0 19.64285714%;
  float: left;
}
.installApp div h5,
.installApp div p {
  margin: 0 0 0 21.72619048%;
}
.installApp div p {
  display: inline-block;
  width: 57.97619048%;
  padding: 0;
}
.installApp > div:nth-child(3) {
  margin: 4.6% 0 0 0;
}
